body {
  margin: 0px;
  padding: 0px; }

.headerImg {
  background-image: url(../contenido/img/martillo.jpg);
  background-color: #556d6c;
  background-blend-mode: soft-light;
  background-size: cover;
  height: 300px;
  background-position: center; }
  .headerImg nav {
    margin: 0px;
    padding: 0px;
    background-color: transparent !important; }
    .headerImg nav div {
      display: flex;
      align-items: center;
      justify-content: right; }
      .headerImg nav div .navbar-brand {
        font-size: 40px;
        font-weight: 700;
        color: #db9b9b;
        font-family: 'Gemunu Libre', sans-serif; }
      .headerImg nav div .nav-link {
        font-size: 15px;
        font-family: 'Gemunu Libre', sans-serif;
        color: white !important; }
      .headerImg nav div ul li .animacion {
        display: none; }
  .headerImg #titulo {
    align-items: center;
    justify-content: center; }
    .headerImg #titulo #tituloPrincipal {
      text-align: center;
      font-size: 50px;
      color: #ffffff;
      font-family: 'Allison', cursive;
      margin: 0;
      padding-top: 80px;
      font-weight: 100; }
    .headerImg #titulo #tituloSecundario {
      text-align: center;
      font-size: 40px;
      color: #ffffff;
      font-family: 'Allison', cursive;
      margin: 0;
      font-weight: 100; }

ul li:hover ul {
  display: block; }

ul {
  margin: 0; }
  ul ul {
    position: absolute;
    display: none;
    padding-top: 20px;
    padding-left: 50px; }
    ul ul li {
      display: flex;
      padding-top: 5px;
      padding-left: 20px; }

main {
  margin: 15px; }
  main section {
    text-align: center; }
  main .whatsappLogo {
    position: fixed;
    bottom: 5px;
    right: 10px; }
    main .whatsappLogo a img {
      height: 40px;
      width: 40px; }
  main #carousel-home {
    display: flex;
    flex-direction: column; }
    main #carousel-home img {
      height: 300px; }
    main #carousel-home #carousel1 {
      padding: 15px; }
    main #carousel-home #carousel2 {
      padding: 15px; }
  main .somosSubtitulo {
    font-size: 30px;
    text-align: center; }
  main .grid {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: none;
    grid-template-areas: "familiaFondo" "laboralFondo" "civilFondo" "accidentesTransitoFondo" "arrendamientoFondo" "ambientalFondo";
    grid-gap: 10px;
    text-align: center; }
    main .grid #familiaFondo {
      grid-area: familiaFondo;
      border: solid black 2px;
      padding: 10px;
      background: linear-gradient(to right, #167997, #adc3ca);
      font-weight: 500; }
    main .grid #laboralFondo {
      grid-area: laboralFondo;
      border: solid black 2px;
      padding: 10px;
      background: linear-gradient(to right, #167997, #adc3ca);
      font-weight: 500; }
    main .grid #civilFondo {
      grid-area: civilFondo;
      border: solid black 2px;
      padding: 10px;
      background: linear-gradient(to right, #167997, #adc3ca);
      font-weight: 500; }
    main .grid #accidentesTransitoFondo {
      grid-area: accidentesTransitoFondo;
      border: solid black 2px;
      padding: 10px;
      background: linear-gradient(to right, #167997, #adc3ca);
      font-weight: 500;
      justify-content: center; }
    main .grid #ambientalFondo {
      grid-area: ambientalFondo;
      border: solid black 2px;
      padding: 10px;
      background: linear-gradient(to right, #167997, #adc3ca);
      font-weight: 500; }
    main .grid #arrendamientoFondo {
      grid-area: arrendamientoFondo;
      border: solid black 2px;
      padding: 10px;
      background: linear-gradient(to right, #167997, #adc3ca);
      font-weight: 500; }
  main .nosotrosFormat {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #777; }
  main .nosotrosSegundo {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #777; }
  main .noticias {
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    main .noticias #taman {
      width: 500px;
      height: 600px;
      padding: 15px;
      border: dashed 1px black;
      margin-top: 15px; }
      main .noticias #taman .text-informes {
        font-size: 30px;
        font-weight: 500; }
      main .noticias #taman .nota {
        padding-top: 15px; }
      main .noticias #taman .desempleo {
        font-size: 18px; }
      main .noticias #taman .bcu {
        display: flex;
        justify-content: right; }

#fondo-contact {
  background-color: #ddcba9;
  margin: 0; }
  #fondo-contact .breadcrumb {
    padding-left: 20px;
    padding-top: 10px; }
  #fondo-contact .formContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px; }
    #fondo-contact .formContact .ko {
      border: solid white 3px;
      padding: 15px; }
      #fondo-contact .formContact .ko #tam {
        height: 300px; }
      #fondo-contact .formContact .ko .button {
        display: flex;
        align-items: center;
        justify-content: center; }
  #fondo-contact .map {
    padding-top: 50px; }
  #fondo-contact #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px; }
    #fondo-contact #contact h6 {
      list-style: none;
      text-align: center;
      font-size: 16px;
      margin: 0; }

footer {
  border-top: solid 2px;
  background-image: url(../contenido/img/pexels-pavel-danilyuk-8814959.jpg);
  background-size: cover;
  background-position: center; }
  footer h4 {
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px; }
  footer #loKi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    list-style: none; }
    footer #loKi img {
      height: 50px;
      width: 50px; }

@media only screen and (min-width: 500px) {
  .headerImg #titulo #tituloPrincipal {
    padding-top: 60px;
    font-size: 70px; }
  .headerImg #titulo #tituloSecundario {
    font-size: 60px; }
  #fondo-contact .formContact .ko .mb-3 {
    width: 400px; } }

@media only screen and (min-width: 768px) {
  .headerImg #titulo #tituloPrincipal {
    padding-top: 30px;
    font-size: 80px; }
  .headerImg #titulo #tituloSecundario {
    font-size: 60px; }
  #principalHome #principal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    #principalHome #principal .introduccion {
      padding: 10px; }
  main .grid {
    display: grid;
    grid-template-rows: 150px, 150px, 100px;
    grid-template-columns: 300px, 300px;
    grid-template-areas: "familiaFondo laboralFondo" "civilFondo arrendamientoFondo" "accidentesTransitoFondo ambientalFondo";
    grid-gap: 10px;
    text-align: center;
    justify-content: c; }
    main .grid h3 {
      font-size: 30px; }
  main .somosSubtitulo {
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 40px; }
  main .flex .nosotrosFormat {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 10px;
    text-align: center; }
  main .flex .nosotrosSegundo {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 10px; }
  #fondo-contact #contact #contactDos iframe {
    width: 450px;
    height: 350px; }
  #fondo-contact #contact h6 {
    font-size: 40px;
    font-weight: 200; }
  footer h4 {
    font-size: 40px; } }

@media only screen and (min-width: 992px) {
  .headerImg nav div .navbar-brand {
    font-size: 50px;
    margin-left: 50px; }
  .headerImg nav div .nav-link {
    font-size: 25px; }
  .headerImg nav div ul {
    margin: 0;
    padding: 0;
    margin-right: 140px; }
    .headerImg nav div ul ul li .animacion {
      display: flex;
      text-decoration: none;
      color: #fff; }
  main #carousel-home img {
    height: 700px; } }

ul li:hover ul {
  display: flex;
  flex-direction: row;
  padding-top: 5px; }

@media only screen and (min-width: 1024px) {
  .headerImg {
    height: 400px; }
    .headerImg #titulo #tituloPrincipal {
      font-size: 120px;
      padding-top: 60px; }
    .headerImg #titulo #tituloSecundario {
      font-size: 80px; }
  #principalHome {
    padding: 0px 150px; }
    #principalHome #principal .introduccion {
      font-size: 15px; }
  main .flex {
    display: flex;
    flex-direction: row; }
  #fondo-contact #contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; } }

@media only screen and (min-width: 1380px) {
  #principalHome #principal .introduccion {
    font-size: 20px; }
  #principalHome #responsive .marginImg {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    justify-content: right; }
    #principalHome #responsive .marginImg .balanza {
      height: 500px;
      width: 400px; }
  #principalHome #responsive .marginVideo {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    align-items: center;
    justify-content: center; } }

@media only screen and (min-width: 1620px) {
  #principalHome {
    padding: 0px 300px; } }

h4 {
  animation-name: h4;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

@keyframes h4 {
  0% {
    color: white; }
  20% {
    color: #cac8c8fd; }
  40% {
    color: #9e9e9e; }
  60% {
    color: #6d6d6d; }
  80% {
    color: #302f2f; }
  100% {
    color: #111111; } }
